body {
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #fff;
  color: #4d5156;
}
button,
input[type=submit],
input[type=button] {
  height: 24px;
  color: #444;
  background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
  text-shadow: rgb(240, 240, 240) 0 1px 0;
}
button,
textarea,
input[type=submit],
input[type=button] {
  border: solid 1px rgba(0, 0, 0, 0.25);
}
input[type=button]:disabled {
  opacity: 0.5;
}
textarea {
  width: 100%;
  box-sizing: border-box;
  display: block;
  padding: 5px;
  margin-top: 5px;
}
a,
a:visited {
  color: ##0077cc;
  text-decoration: none;
}
.tbl {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 10px 5px;
}
